[submodule "matlab/iso2mesh"]
	path = src/iso2mesh
	url = https://github.com/fangq/iso2mesh
[submodule "matlab/mcx"]
	path = matlab/mcx
	url = https://github.com/fangq/mcx
[submodule "src/redbird-m"]
	path = src/redbird-m
	url = https://github.com/fangq/redbird-m
